body {
    font-family: "Roboto Mono", monospace;
}

h1 {
    font-size: 18px;
    text-align: center;
    margin: 20px;
}

h2 {
    font-size: 16px;
    text-align: center;
}

.container {
    height: 150px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.left,
.center,
.right {
    width: 125px;
    min-height: 75px;
    background-color: dodgerblue;
    border: 2px solid lightgrey;
}

#flexstart {
    align-items: flex-start;
}

#flexend {
    align-items: flex-end;
}

#center {
    align-items: center;
}

#baseline {
    align-items: baseline;
}

#baseline .center {
    width: 100px;
    height: 100px;
    border: 5px solid turquoise;
}

/* #STRETCH - Default value unless a height is specified */